h1{
    color:blueviolet
}


p{
    color: chocolate;
}

header{
    background-color:hotpink;
}

header p{
    color: indigo;
}

article{
    background-color:floralwhite;
}

footer{
    background-color:hotpink;
    color: indigo;
}

header, footer{
    text-align: center;
}