{% extends 'base.html' %}

{% block content %}
<article>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget mi faucibus, eleifend odio eu, pretium erat. Praesent ac dui neque. Fusce ultrices libero lectus. Nullam in cursus tortor. Vestibulum lacinia augue commodo odio vehicula malesuada. Nullam ac viverra tortor. Nullam consequat arcu vel viverra commodo. Pellentesque vitae egestas urna. Maecenas eleifend aliquam eleifend. Nunc nec elit tincidunt, tristique nisi sed, vestibulum justo. Nullam dapibus suscipit vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec facilisis nulla a tempor convallis. Donec malesuada orci ut luctus aliquet. Suspendisse volutpat, nibh sit amet pellentesque tristique, enim felis porta felis, at elementum turpis quam in augue. Maecenas lobortis ut felis a posuere.
    </p>
    <p> Praesent gravida ornare rhoncus. Praesent sed posuere mauris. Mauris fringilla sapien eget sapien posuere, quis laoreet odio posuere. Nam fringilla ipsum non risus cursus, quis vestibulum quam efficitur. Integer ante tortor, pharetra a suscipit vel, imperdiet eget mauris. Nam in nulla sit amet lectus ullamcorper ultricies. Nam sit amet tristique est, eu varius orci. In eu cursus metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <p> Praesent ut erat laoreet, consectetur urna sed, efficitur enim. Maecenas eu ligula urna. Curabitur in dui sem. Sed porttitor malesuada urna, eu facilisis metus pulvinar sit amet. Maecenas vel nulla est. Morbi vel enim et nisl sollicitudin dictum. Maecenas ornare felis lectus, ut efficitur lorem tempor a. Morbi tellus lectus, hendrerit vitae varius at, ultrices eget augue. Aenean nisi enim, vestibulum quis ante at, tempus lobortis mi.
    </p>
    <p> nec arcu nec neque tempus convallis. Morbi facilisis quam nec risus euismod, ut iaculis tortor sagittis. Integer vel rhoncus nisi, sit amet finibus lorem. Integer fermentum lacus enim, sed maximus erat consequat in. Ut varius vehicula diam, eu scelerisque massa imperdiet nec. Suspendisse ac cursus sapien, et placerat dui. Integer neque massa, semper non mi id, hendrerit iaculis lacus.
    </p>
    <p> fringilla semper pulvinar. Phasellus dapibus scelerisque feugiat. Nam vitae gravida sapien. Cras ultrices sem sit amet elit sodales, ac luctus magna ultrices. Aenean arcu nibh, cursus rhoncus dapibus sit amet, scelerisque vitae lacus. Nulla facilisi. Vivamus nec consectetur tellus.</p>
    </p>
</article>

{% endblock %}

{% block test %}
<ul>
    <li>banana</li>
    <li>melão</li>
    <li>goiaba</li>
    <li>maracujá</li>
</ul>

{% endblock %}